@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Bevan|Candal|Kaushan+Script|Tenor+Sans|Thasadith');

body{
    margin: 0;
    padding: 0;
    background-color:#F4F4F4;
}



/* new nav */

ul {
    list-style-type: none;
    margin: auto;
    padding: 15px;
    background-color: #2bc9a6;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
      
  }
  img{
    width: 175px;
    height:175px;
    cursor: pointer;
    
  }


  li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 30px;
    float: left;
    padding-left: 150px;
    padding-bottom: 70px
  }
  .right-float {
    float: right;
  }
  .right-float a:hover {
    color: #68BDFD;
    transition: 0.4s ease;
  }
  /* navbar styles */
/* homepage styles */
.v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#3d3b39;
    font-family: "Roboto", sans-serif;
  
   
  }
  
  .containerindex{
    width:820px;
    padding-left:10px;
    margin:auto;
    text-align:center;
    font-family: "Roboto", sans-serif;
  }
  
 .appname{
     font-family:'Candal', sans-serif;
 } 
 .appintro{
     font-family: 'Thasadith', sans-serif;
 }
  .header-content h1{
    
    font-size:40px;
    text-align: center;
    
  
  
  }
  
  .header-content p{
    font-size:25px;
    text-align: center;
    
  
  }
  
  .btn{
    background:#2bc9a6;
    color:	#ffffff;
    padding:5px 40px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 30px;
    font-family:'Tenor Sans', sans-serif;
  
  }
  
  
  .section-index{
    background-image:url('../images/new1.jpg');
    background-size: cover;
    
    
  }
  .section-profile{
   background-color:#E8EAF2;
   position: absolute;
    top:80px;
    left:0;
    width:100%;
    height:87vh;
    overflow:hidden;
  
   
  }

  /* form styles */
  .container {
    max-width: 380px;
    padding-left: 500px;
    height:506px; 
    
  }

.formregister {
    box-shadow: 0 4px 8px 0 #3d3b39;
    transition: 0.3s;
    padding: 10px;
    margin-top: 110px;
    font-family: "Roboto", sans-serif;
    background-color: #E5E5E6;
    text-align:center;
    border-radius: 25px;
   
}
.formregister h2{
    font-family:'Candal', sans-serif;
}
.formregister a p {
    font-family: 'Thasadith', sans-serif;
}
.formregister:hover {
    box-shadow: 0 8px 16px 0 #636363;
}
.formregister  a {
  text-decoration: none;
  color:#3d3b39;
}
form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:#fff;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 15px;
  }
  button {
    font-family:'Tenor Sans', sans-serif;
    text-transform: uppercase;
    background:#2bc9a6;
    width: 80%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}
  /* end of form styles */
  

  h4{
    color:  #3d3b39;
    }
    
    h2{
      color:  #3d3b39;
     }
    
     h1{
        color:   #3d3b39;
     }
     h3{
        color:   #3d3b39;
     }
     h1{
      color:  #3d3b39;
      }
    h5{
      color:  #3d3b39;
      font-family: "Roboto", sans-serif;
     }