@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Bevan|Candal|Kaushan+Script|Tenor+Sans|Thasadith');

body{
    margin: 0;
    padding: 0;
    background-color:#F4F4F4;
}



/* new nav */

ul {
    list-style-type: none;
    margin: auto;
    padding: 15px;
    background-color: #2bc9a6;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 6px 10px 0 #9b9894;
      
  }
  img{
    width: 175px;
    height:175px;
    cursor: pointer;
    
  }
span{
    color: #636363;
}

  li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 30px;
    float: left;
    padding-left: 150px;
    padding-bottom: 70px
  }
  .right-float {
    float: right;
  }
  .right-float a:hover {
    color: #68BDFD;
    transition: 0.4s ease;
  }
  /* navbar styles */
/* homepage styles */
.v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#3d3b39;
    font-family: "Roboto", sans-serif;
  
   
  }
  
  .containerindex{
    width:820px;
    padding-left:10px;
    margin:auto;
    text-align:center;
    font-family: "Roboto", sans-serif;
  }
  
 .appname{
     font-family:'Candal', sans-serif;
 } 
 .appintro{
     font-family: 'Thasadith', sans-serif;
 }
  .header-content h1{
    
    font-size:40px;
    text-align: center;
    
  
  
  }
  
  .header-content p{
    font-size:25px;
    text-align: center;
    
  
  }
  
  .btn{
    background:#2bc9a6;
    color:	#F4F4F4;
    padding:5px 40px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 30px;
    font-family:'Tenor Sans', sans-serif;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 #636363;
  
  }
  .btn :hover {
    box-shadow: 0 4px 8px 0 #636363;
  }
  
  
  .section-index{
    background-image:url('../images/new1.jpg');
    background-size: cover;
    
    
  }
  .section-profile{
   background-color: #F4F4F4;
   position: absolute;
    top:80px;
    left:0;
    width:100%;
    height:87vh;
    overflow:hidden;
  
   
  }

  /* form styles */
  .container {
    max-width: 380px;
    padding-left: 500px;
    height:506px; 
    
  }

.formregister {
    box-shadow: 0 4px 8px 0 #3d3b39;
    transition: 0.3s;
    padding: 10px;
    margin-top: 110px;
    font-family: "Roboto", sans-serif;
    background-color: #E5E5E6;
    text-align:center;
    border-radius: 20px;

}
.formregister h2{
    font-family:'Candal', sans-serif;
}
.formregister a p {
    font-family: 'Thasadith', sans-serif;
}
.formregister:hover {
    box-shadow: 0 8px 16px 0 #636363;
}
.formregister  a {
  text-decoration: none;
  color:#3d3b39;
}
form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:#fff;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 15px;
  }
  button {
    font-family:'Tenor Sans', sans-serif;
    text-transform: uppercase;
    background:#2bc9a6;
    width: 80%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}

  /* end of form styles */
  

  h4{
    
    color: #636363
    }
    
    h2{
      color: #636363;
     }
    
     h1{
        color:   #3d3b39;
     }
     h3{
        color:   #3d3b39;
     }
     h1{
      color:  #3d3b39;
      }
    h5{
      color:  #3d3b39;
      font-family: "Roboto", sans-serif;
     }

   /* profile settings */
 
#profile-page h1{
    text-align: center;
    padding-bottom: 0.3rem;
    border-bottom: 0.3rem solid  #3d3b39;
}
.profile-container{
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}
.profile-container__sidebar{
    width: 20rem;
    height: 60vh;
    background-color: #22313F;
    float: left;
}
.profile-container__sidebar h4{
    text-align: center;
    padding-top: .1rem;
    color:whitesmoke;
}
.profile-container__sidebar ul > li{
    text-decoration: none;
    margin: 1.5rem;
    list-style: none;
}
.profile-container__sidebar ul > li a{
    color: whitesmoke;
    font-size: 1.2rem;
    text-decoration: none;
}

/* Main sidebar styling */
.profile-section{
  
    float: right;
    background:#F4F4F4;
    display: flex;
    transition: 0.3s;
    margin-right: 8%;
 

}
.profile-section .profile-panel{
    width: 10rem;
    height: 10rem;
    background: #F4F4F4;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 #9b9894;
    transition: 0.3s;
    color: #636363;

}
.profile-panel:hover {
  box-shadow: 0 8px 16px 0 #636363;
}
.profile-section a{
 text-decoration: none;
}

.profile-icon{
   
    color:#2bc9a6;
    
}
.profile-icon h4{
    padding: .6rem;
}
.profile-icon .fa{
    padding: .5rem;
    font-size:5rem;
    margin-left:1.5rem;
}

.userprofile {
  box-shadow: 0 2px 6px 0 #636363;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #E5E5E6;
  border-radius: 10px;
  font-weight: 400px;
 
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 80px; /* Stay at the top */
  
  background-color:#3d3b39; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 130px;
  font-family:'Candal', sans-serif;
  box-shadow: 0 8px 16px 0 #636363;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:#f1f1f1;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color:  #818181;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}